<div class= "w-full grid grid-cols-2 md:flex md:justify-between py-3 md:py-0 md:my-0 max-h-[65px] bg-nav-bg md:bg-BG">
    <a class="flex justify-center w-full md:self-center md:max-w-[11%] mx-auto " routerLink="/">
        <span class="self-center text-lg text-black font-semibold font-inter italic ">SkyFly</span>
    </a>
    
    <div class='hidden bg-nav-bg w-[88%] md:flex md:justify-around md:items-center py-2 rounded-tl-full'>
      <div class='hidded lg:flex gap-8 justify-around text-white text-lg '>
        <h3>Live Games</h3>
        <h3>Help</h3>
        <h3>Contacts</h3>
      </div>
      <div class='flex gap-16 justify-between items-center'>
        <div class="hidden relative md:block">
          <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
            <svg class="w-5 h-5 text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clipRule="evenodd"></path></svg>
            <span class="sr-only">Search icon
            </span>
          </div>
        <input type="text" id="search-navbar" class="block p-2 pl-10 w-full  rounded-full border border-gray-300 sm:text-sm focus:outline-none" placeholder="Search..." />
        </div>
      </div>
    </div>
</div>
